
{% extends "home.html" %} 
{% load static %}

{% block description %}Here is the list of courses. {% endblock %} 
{% block robots %}index, follow{% endblock %} 
{% block keywords %}courses list, courses{% endblock %} 
{% block css %}{% static 'personal/show_list.css' %}{% endblock %}
{% block title %}Show All List of the Courses{% endblock %} 

{%block body %}
{%  include "snippets/nav.html" %}

<!-- Show All List of the courses Page HTML -->

<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Manage <b>Courses</b></h2>
                </div>
                <div class="col-sm-6">
                    <a href="{% url 'create_course' %}" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add New courses</span></a>						
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>
                    </th>
                    <th>Subject</th>
                    <th>Description</th>
                    <th>Created at</th>
                    <th>Updated at</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for courses in course_list %}
                <tr>
                    <td>
                        <span class="custom-checkbox">
                            <input type="checkbox" id="checkbox1" name="options[]" value="1">
                            <label for="checkbox1"></label>
                        </span>
                    </td>
                    <td>{{courses.title}}</td>
                    <td>{{courses.description}}</td>
                    <td>{{courses.created_at}}</td>
                    <td>{{courses.updated_at}}</td>
                    <td> 
                        <a href="{% url 'update_course' course_id=courses.id %}" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                        <a href="{% url 'delete_course' course_id=courses.id %}" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
