
{% extends "home.html" %} 
{% load static %}

{% block description %}You can create an account. {% endblock %} 
{% block robots %}index, follow{% endblock %} 
{% block keywords %}login, user{% endblock %} 
{% block css %}{% static 'account/login.css' %}{% endblock %}
{% block title %}Login Page{% endblock %} 

{%block body %}
    <form  method="post">
        <h1>Login Here</h1>
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-primary">Login</button>
        <p>Don't have Accont Create<a href="{% url "register" %}"> Register </a></p>
    </form>

{% endblock %}