{% extends "home.html" %} 
{% load static %}

{% block description %}You can create an account. {% endblock %} 
{% block robots %}index, follow{% endblock %} 
{% block keywords %}register, signup, user{% endblock %} 
{% block css %}{% static 'account/register.css' %}{% endblock %}
{% block title %}Register Page{% endblock %} 

{%block body %}
    <form method="post">
        <h1>Register Here</h1>
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-primary">Register</button>
        <p>Already have Accont<a href="{% url "login" %}"> Login </a></p>
    </form>

{% endblock %}